.Features {
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    padding: 2rem 0;
    @media only screen and (max-width: 768px) {
        margin: 2rem 0 0 0;
    }
    p {
        width: 40%;
        @media only screen and (max-width: 768px) {
            width: 90%;
            margin: 0;
        }
    }

}